
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    title Das Holz Studio

    link(rel='stylesheet', href='css/common.scss')
    link(rel='stylesheet', href='css/application.scss')
    link(rel='shortcut icon', type="image/x-icon", href='assets/images/yo.jpg')
  body
    <div class="start">
      <div class="start__container">
        <div class="start__header">
          <div class="start__header-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.039" height="12.273" viewBox="0 0 21.039 12.273"><path d="M84.163,145.753H64.877a.877.877,0,1,1,0-1.753H84.163a.877.877,0,1,1,0,1.753Zm0,5.26H64.877a.877.877,0,1,1,0-1.753H84.163a.877.877,0,1,1,0,1.753Zm0,5.26H64.877a.877.877,0,1,1,0-1.753H84.163a.877.877,0,1,1,0,1.753Z" transform="translate(-64 -144)" fill="#186aa5"/></svg>
            //- include /assets/images/menu.svg
          </div>
          <div class="start__header-logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="114.268" height="37.185" viewBox="0 0 114.268 37.185"><g transform="translate(71 -1714.148)"><g transform="translate(-71 1714.148)"><g transform="translate(1.849 1.778)"><g transform="translate(108.447 31.526)"><path d="M947.719,650.46h-2.1v-.323H947.4v-1.778h.323Z" transform="translate(-945.617 -648.358)" fill="#186aa5"/></g><g transform="translate(6.243 33.305)"><path d="M677.663,661.779h-8.915v-.323h8.915Zm-17.83,0h-8.915v-.323h8.915Zm-17.83,0h-8.915v-.323H642Zm-17.83,0h-8.915v-.323h8.915Zm-17.829,0H597.43v-.323h8.915Zm-17.83,0H579.6v-.323h8.915Z" transform="translate(-579.6 -661.456)" fill="#186aa5"/></g><g transform="translate(0 31.526)"><path d="M535.721,650.46h-2.1v-2.1h.323v1.778h1.778Z" transform="translate(-533.619 -648.358)" fill="#186aa5"/></g><g transform="translate(0 6.305)"><path d="M533.942,483.62h-.323v-4.2h.323Zm0-8.407h-.323v-4.2h.323Zm0-8.407h-.323v-4.2h.323Z" transform="translate(-533.619 -462.602)" fill="#186aa5"/></g><g transform="translate(0 0)"><path d="M533.943,418.264h-.323v-2.1h2.1v.323h-1.778Z" transform="translate(-533.619 -416.163)" fill="#186aa5"/></g><g transform="translate(6.243 0)"><path d="M677.663,416.486h-8.915v-.323h8.915Zm-17.83,0h-8.915v-.323h8.915Zm-17.829,0h-8.915v-.323H642Zm-17.83,0h-8.915v-.323h8.915Zm-17.83,0h-8.915v-.323h8.915Zm-17.83,0H579.6v-.323h8.915Z" transform="translate(-579.6 -416.163)" fill="#186aa5"/></g><g transform="translate(108.447 0)"><path d="M947.719,418.264H947.4v-1.778h-1.778v-.323h2.1Z" transform="translate(-945.617 -416.163)" fill="#186aa5"/></g><g transform="translate(110.226 6.305)"><path d="M959.039,483.62h-.323v-4.2h.323Zm0-8.407h-.323v-4.2h.323Zm0-8.407h-.323v-4.2h.323Z" transform="translate(-958.715 -462.602)" fill="#186aa5"/></g></g><rect width="3.88" height="3.88" transform="translate(0 0)" fill="#186aa5"/><rect width="3.88" height="3.88" transform="translate(0 33.305)" fill="#186aa5"/><rect width="3.88" height="3.88" transform="translate(110.388 33.305)" fill="#186aa5"/><rect width="3.88" height="3.88" transform="translate(110.388 0)" fill="#186aa5"/></g><text transform="translate(-15 1736.761)" fill="#186aa5" font-size="16" font-family="Montserrat-Bold, Montserrat" font-weight="700"><tspan x="-39.8" y="0">logo here</tspan></text></g></svg>
            //- include /assets/images/logo.svg
          </div>
        </div>

        <div class="start__body">
          <div class="start__boody-cab-container">
            <div class="start__boddy-cab-container-text"> Let's start!
            </div>
          </div>
          <div class="start__body-img">
            <img src="assets/images/placeholder.png", alt="imagen">
          </div>

          <div>
            <div class="start__body-links">
              <a href="#" class="start__body-link">Choise how start</a>
            </div>
          </div>
          <div class="start__body-buttons">
            <a type="button" class="start__body-button-sng" value="start new game">START NEW GAME
          </div>

          <div class="start__body-buttons">
            <a type="button" class="start__body-button-rg" value="resume game">RESUME GAME
          </div>
        </div>
      </div>
    </div>
