
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    title Das Holz Studio

    link(rel='stylesheet', href='css/common.scss')
    link(rel='stylesheet', href='css/application.scss')
    link(rel='shortcut icon', type="image/x-icon", href='assets/images/yo.jpg')

  body
    .start
      .start__container
        .start__header
          .start__header-menu
            include /assets/images/menu.svg
          .start__header-logo
            img(src='assets/images/logo.png', alt='imagen')
          .start__header-vacio
        .start__body
          .start__boody-cab-container
            .start__boddy-cab-container-text Let's start!
          .start__body-img
            img(src='assets/images/placeholder.png', alt='imagen')
          .start__body-links
            a(href='#', class='start__body-link') Choise how start
          .start__body-buttons
            a(type='button' class='start__body-button-sng' value='start new game') START NEW GAME
          .start__body-buttons
            a(type='button', class='start__body-button-rg', value='resume game') RESUME GAME

